 * {
   box-sizing: border-box;
   margin:0;
   padding: 0;
 }
 h1:first-child{
   cursor: pointer;
 }
 .float-left {
   float: left;
 }
 .float-right {
   float: right;
 }
 .container {
   width: 100%;
   margin: 0px auto;
   max-width: 1200px;
   padding: 14px;
 }
 .container-fluid {
   width: 100%;
   background: #2C3E50;

 }
 .overflow{
   overflow: hidden;
 }
 .square {
   width: 100%;
   height: 100%;
   cursor: pointer;
 }
  .row:before, .row:after {
    content: " ";
    display: table;
  }
  .row:after {
      clear: both;
  }
  [class*="col-"] {
      min-height: 7px;
      padding: 21px;
      float: left;
      height: auto;
  }
  .col-1 {
      width: 8.33333%;
  }
  .col-2 {
      width: 16.666667%;
  }
  .col-3 {
      width: 25%;
  }
  .col-4 {
      width: 33.333333%;
  }
  .col-5 {
      width: 41.666667%;
  }
  .col-6 {
      width: 50%;
  }
  .col-7 {
      width: 58.333333%;
  }
  .col-8 {
      width: 66.666667%;
  }
  .col-9 {
      width: 75%;
  }
  .col-10 {
      width: 83.3333%
  }
  .col-11 {
    width: 91.63%
  }
  .col-12 {
    width: 100%;
  }

/* Header */
header {
  position: fixed;
  z-index: 1
}
header * {
  color: #fff
}
.nav-header {
  float: right;
}
.nav-header >ul > li:hover {
  background: #2c3e50;
}
ul > li{
  display: inline-block;
  list-style: none;
  padding: 7px;

}
li > a {
  text-decoration: none;
}
/* BANNER */
hr {
  display: inline-block;
  border-color: #fff;
  width: 140px;
}
#banner, #portfolio, #about, #contact, footer {
  position: relative;
  top: 53px;
  padding: 14px 0;
}
#banner {
  background: #18BC9C;

}
#banner * {
  color: #fff;
  text-align: center
}

/* PORTFOLIO */
#portfolio * {
  text-align: center;
}
#portfolio img, span{
  display: block;
  max-width: 100%;

  height: auto;
}
#portfolio .square {
  position: relative;
}
#portfolio .square span {
  top: 0;
  width: 348px;
  height: 251px;
  display: flex;
  position: absolute;
}
#portfolio .square span > p {
  visibility: hidden;
  align-self: center;
  flex: 1;
  font-size: 49px;
  color: #fff;

}
.visible {
  visibility: visible!important;
}
#portfolio .square span:hover{

  background: rgba(24, 187, 156, 0.76);
  transition: all 0.5s;
}
/*MODAL*/

.modal {
  display: block;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  padding: 30px;
  width: 100%;
  height: 100%;
  z-index: 1
}
/*ABOUT */
#about {
  background: gray;
}
#about * {
  text-align: center;
  color: #fff;
}
#about > .container {
  width: 65%;
}
.col-12 [type="button"] {
  width: 202px;
  height: 56px;
  font-size: 20px;
}
/*CONTACT ME */
#contact * {
  text-align: center;
}
